@media only screen and (max-width: 420px) {

    body header {
        margin: 0px 0px 35px 0px;
        width: 100%;
        height: 70px;
    }

    header .logored {
        margin-left: -42px;
        width: 70px ;
    }

    header .h2-1 {
        display: flex;
        flex-flow: column wrap;
        width: 24%;
        margin: 0px 16px 0px 4px;
        padding: 0px 0px;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }

    header .h2-2 {
        display: none;
    }

    header ul{
        display: flex;
        flex-flow: column wrap;
        width: 30%;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    header #prim-coluna {
        margin-right: -40px;
        /* border: 1px solid rgb(0, 255, 0); */
    }
    
    header ul li {
        padding: 0px;
        margin: 0px;
    }
    
    header ul li a {
        font-size: 10px;
        letter-spacing: 1px;
        padding: 5px 10px;
        scale: 1;
        transition: 0.3s;
        margin-right: -15px;
    }

    header ul li a:hover {
        background-color: #C8909D;
        color: black;
        scale: 1.08;
        transition: 1s;
    }

    .link-container {
        display: none;
    }

    .bordadolink {
        display: flex;
        flex-flow: column wrap;
        overflow: hidden;
        width: 40%;
        margin: 0px -75px 0px 0px;
        padding: -10px;
        justify-content: center;
        align-items: center;
        /* border: 1px solid yellow; */
    }

    header .bordadolink li {
        display: inline-block;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    #bordadoom {
        display: block;
    }

    #toalhaom {
        display: block;
    }

    #toalhaom a {
    margin-top: 5px;
    }

    #estampaom {
    display: block;
    }
    
    #estampaom a {
    padding: 5px 20px;
    margin-top: 5px;
    margin-left: 0px;
    }

    #bordadoom a {
    letter-spacing: 1px;
    padding: 5px 3px;
    margin-left: 0px;
    }


    .section1 {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0px;
    }

    .section1 h2 {
        font-size: 25px;
        padding: 0px;
        margin-top: -20px;
    }

    .section1 p {
        padding: 0px;
        margin-top: -15px;
        font-size: 15.8px;
    }

    .sobre {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .section2 {
        display: flex;
        flex-flow: column;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .section2 h2 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 8px;
    }

    .section2 p {
        font-size: 14px;
    }

    .section2 ul {
        font-size: 15px;
    }

    .card1 {
        width: 200px;
        height: 200px;
        margin: 30px 0px 0px 0px;
        padding: 0px;
    }

    .card1:hover {
        scale: 1;
        transition: 0s;
    }

    .card2 {
        width: 200px;
        height: 200px;
        margin: 30px 0px 0px 0px;
        padding: 0px;
    }

    .card2:hover {
        scale: 1;
        transition: 0s;
    }

    .card3 {
        width: 200px;
        height: 200px;
        margin: 30px 0px 0px 0px;
        padding: 0px;
    }

    .card3 ul {
        font-size: 14px;
        margin-left: 30px;
    }

    .card3:hover {
        scale: 1;
        transition: 0s;
    }

    .card4 {
        width: 200px;
        height: 200px;
        margin: 30px 0px 0px 0px;
        padding: 0px;
    }

    .card4:hover {
        scale: 1;
        transition: 0s;
    }

    .ttprod h2 {
        font-size: 35px;
    }

    .ttprod img {
        width: 55px;
        height: 50px;
    }

    .bordado {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .bordado img {
        width: 270px;
        height: 270px;
    }

    .bordado .fundoprod {
        width: 270px;
        height: 270px;
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }

    .bordado .fundoprod:hover {
        scale: 1;
    }

    #prodmrg {
        margin: 0px 0px 20px 0px;
    }

    .finalprod p {
        font-size: 15px;
    }

    .toalha {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .toalha img {
        width: 270px;
        height: 270px;
    }

    .toalha .fundoprod {
        width: 270px;
        height: 270px;
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }

    .toalha .fundoprod:hover {
        scale: 1;
    }

    .estampa {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .estampa img {
        width: 270px;
        height: 270px;
    }

    .estampa .fundoprod {
        width: 270px;
        height: 270px;
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }

    .estampa .fundoprod:hover {
        scale: 1;
    }

    footer {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    footer .tudofoot {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    footer .barra {
        display: none;
    }

    footer .wpptt {
        display: none;
    }

    footer img {
        width: 30px;
        height: 30px;
    }

    footer p {
        font-size: 15px;
    }

    footer .footinfo {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    footer .instaicon {
        margin-left: 8px;
        margin-bottom: 10px;
    }

    footer .wppicon {
        margin-left: -5px;
        margin-bottom: 10px;
    }

    footer .envelope {
        margin-bottom: 10px;
    }

    footer .endereco {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        margin: 0px;
    }

    footer .endereco img {
        display: inline-block;
        margin-bottom: 10px;
        margin-left: -23px;
    }

    .mascotinha-fly {
        display: none;
    }

    .caixa-fly {
        display: none;
    }































    



























}